* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg: #f8f8f8;
    --white: #ffffff;
    --blue: #233238;
    --grey: #d9d9d9;
    --placeholder: #999999;
    --grd-color: background: rgb(32,32,37);
    --black: #111111;
    --offgrey: #f2f2f5;
    --deepblue: #000085;
    --lightblue: #A1CCFA;
    --blackhole: #202025;

}