.form-wrapper {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--blue);
}


input [type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.forminput {
    background-color: var(--blue);
    min-width: 600px;
    display: grid;
}

.kundedata {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kundedata label {
    background-color: pink;
}


input [type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}