
@import "base.css";

body {
    background-color: var(--bg);
    height: 100vh;
}

.bestillingsheader {
    text-align: left;
    padding: 0px 0px 30px 10px;
    color: var(--deepblue);
    text-transform: uppercase;
}

h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
}

p {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}


form {
    background-color: var(--white);
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
	padding: 30px;
	border-radius: 15px;
	backdrop-filter: blur(1.5rem);
	box-shadow:
    -.25rem -.25rem .5rem rgba(#fff,.07),
    .25rem .25rem .5rem rgba(#000,.12),
    -.75rem -.75rem 1.75rem rgba(#fff,.07),
    .75rem .75rem 1.75rem rgba(#000,.12),
    inset 8rem 8rem 8rem rgba(#000,.05),
    inset -8rem -8rem 8rem rgba(#fff,.05)
}

input {
	/*display: block;*/
	background: transparent;
	border: 1px solid var(--grey);
	/*width: 95%;*/
	padding: 10px;
	margin: 10px auto;
	border-radius: 2px;
}

input:focus {
	background: transparent;
	border: 1px solid var(--blue);
}


label {
	color: var(--blue);
	font-size: 14px;
	padding: 10px;
}

::placeholder {
	color: var(--placeholder);
	opacity: 1; /*FIREFOX FIX*/
}

.baseinfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid var(--grey);
    padding-bottom: 10px;
}

.baseinfo label {
    display: block;
    padding: 0px;
    
}

.ramme-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;
}



.ramme {
    grid-area: 1 / 1 / 2 / 2;
}

.ramme label {
    display: block;
    padding: 0px;
}
.glas {
    grid-area: 1 / 2 / 2 / 3; 
}

.passepartout-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ppinfo label {
    padding: 0px;
    padding-left: 5px;
}

.monteringsinfo {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.bemærkning label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.bemærkning textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    resize: none;
}

.ekspedient label {
    display: block;
    padding: 0px;
}

.saveBtn {
    background: var(--deepblue);
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}

.saveBtn:hover{
	opacity: .7;
}



/* DIAS FORM */

.dias-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;
}

.diasantal label {
    display: block; 
    padding: 0px;
}

.diaspuds label {
    display: inline;
}


.prisogbemærkninger {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;;
}

.diaspris {
    padding-left: 30px;;
}


/* BÅND FORM */

.bånd-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;
}

.båndType label {
    display: block;
    padding: 0px;
}


/* SMALFILM FORM */

.smalfilm-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* REP FORM */
.enheds-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;
}

.enheds-wrapper label {
    display: block;
    padding: 0;
}

.garanti {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.garanti label {
    display: block;
    padding: 0;
}

.garanti textarea {
    width: 350px;
    height: 100px;
}

.garantisag label {
    display:inline;
    padding: 10px;
}

.tilbehør {
    padding-right: 20px;
}


.fejl {
    padding-top: 20px;
    padding-bottom: 10px;
}

.fejl label {
    display: block;
    padding: 0;
}

.fejl textarea {
    width: 100%;
    height: 200px;
}