
/*LOGIN SIDE*/
.loginContainer {
	background: rgb(100,140,142);
	background: linear-gradient(340deg, rgba(100,140,142,1) 0%, rgba(30,44,47,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

/*FORSIDE*/
.header {
	background: rgb(100,140,142);
	background: linear-gradient(340deg, rgba(100,140,142,1) 0%, rgba(30,44,47,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	flex-direction: column;
}







/* Har allerede en konto? - findes under register */
.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 

/* Login btn*/
.login {
	background-color: pink;
}