
/*LOGIN SIDE*/
.loginContainer {
	background-color: var(--grd-color);
	box-shadow: 0px 10px 30px rgba(0,0,0,.1);
	box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.48);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

/*FORSIDE*/

.nav {
	width: 100%;
	background-color: var(--grd-color);
}

.header {
	background-color: var(--grd-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	flex-direction: column;
}

.main {
	background-color: var(--bg);
}

.mainContent {
	height: 100vh;
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;
}


/* Har allerede en konto? - findes under register */
.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 

/*Søge side SKAL ÆNDRES OM - så modul er selve søgning og ikke container som nu. */
.søgemodul {
	padding-top: 20px;
	height: 100vh;
	background-color: var(--bg);
	color: var(--blue);
}

.søge-container {
	background-color: var(--bg);
}

/*Tables */

table {
	width: 90%;
	margin: auto;
}
table, tr, th, td {
	border: 1px solid #d4d4d4;
	border-collapse: collapse;
	padding: 12px;
}
th, td {
	text-align: left;
	vertical-align: top;
}
tr:nth-child(even) {
	background-color: #e7e9eb;
}

.retur_btn {
	background-color: #d67D19;
	padding: 20px 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid black;
	text-transform: uppercase;
}