
/*LOGIN SIDE*/
.loginContainer {
	background-color: var(--grd-color);
	box-shadow: 0px 10px 30px rgba(0,0,0,.1);
	box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.48);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

/*FORSIDE*/

.nav {
	width: 100%;
	background-color: var(--grd-color);
}

.header {
	background-color: var(--grd-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	flex-direction: column;
}

.main {
	background-color: var(--offgrey);
}

.main-search {
	background-color: var(--bg);
}

.mainContent {
	height: 100vh;
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;
}


/* Har allerede en konto? - findes under register */
.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 

/*Søge side. */
.søge-wrapper {
	height: 100%;
	background-color: var(--offgrey);
}

.søge-header {
	background-color: white;
	padding: 20px;
}

/*Container som holder table*/
.søge-resultat {
	margin: 20px;
	overflow-x: auto;
}

/*Antal resultater på søgning*/
.resultat {
	padding-bottom: 20px;
	color: var(--black);
	font-size: 0.8rem;
}

/*Tables */

table {
	width: 100%;
  	border-collapse: collapse;
  	overflow: hidden;
	background-color: var(--bg);
  	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	font-size: 0.9rem;
	border-radius: 5px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--black);
  border-bottom: 0.5px solid var(--placeholder);
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-color: var(--lightblue);
}

tbody td {
  position: relative;
}

.retur_btn {
	background-color: #d67D19;
	/*padding: 20px 30px;
	margin-bottom: 10px;*/
	margin-right: 10px;
	border: 1px solid black;
	text-transform: uppercase;
	border-radius: 0;
	float: right;
}