h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: var(--blue);
}


h1 {
	text-align: center;
	color: #fff;
    font-weight: 700;
}

.søgeoverskrift {
    text-align: left;
    padding-bottom: 0px, 10px, 0px, 10px;
    color: var(--deepblue);
    text-transform: uppercase;
}

.loginHeader {
    text-align: center;

	margin-bottom: 40px;
}

placeholder {
    color: var(--blue);
}

/* Har allerede en konto? - findes under register */
.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: var(--grey);
}
.ca:hover {
	text-decoration: underline;
} 


/*Fejl eller success under register.*/
.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
 
 .success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
 