

/*FORSIDE*/


.header {
	background-color: var(--grd-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	flex-direction: column;
}


/* Har allerede en konto? - findes under register */
.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 

/*Søge side. */
.søge-wrapper {
	min-height: 100vh;
	background-color: var(--offgrey);
}

.søge-header {
	background-color: white;
	padding: 20px;
}

/*Container som holder table*/
.søge-resultat {
	margin: 20px;
	overflow-x: auto;
}

.søge-resultat input[type="text"] {
	color: pink;
}

.søgeform {
	width: 500px;
	padding: 50px;
	background-color: rgba(255,255,255);
	border-radius: 15px;
	backdrop-filter: blur(1.5rem);
	box-shadow:
    -.25rem -.25rem .5rem rgba(#fff,.07),
    .25rem .25rem .5rem rgba(#000,.12),
    -.75rem -.75rem 1.75rem rgba(#fff,.07),
    .75rem .75rem 1.75rem rgba(#000,.12),
    inset 8rem 8rem 8rem rgba(#000,.05),
    inset -8rem -8rem 8rem rgba(#fff,.05);
	margin: 0 auto;
}

.søgeform button[type="submit"] {
	margin-left: 10px;
	padding: 10px 20px;

}

.resultat {
	margin-left: 25px;
}



/*Tables */

table {
	width: 100%;
  	border-collapse: collapse;
  	overflow: hidden;
	background-color: var(--bg);
  	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	font-size: 0.9rem;
	border-radius: 5px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--black);
  border-bottom: 0.5px solid var(--placeholder);
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-color: var(--lightblue);
}

tbody td {
  position: relative;
}

.retur_btn {
	background-color: #d67D19;
	/*padding: 20px 30px;
	margin-bottom: 10px;*/
	margin-right: 10px;
	border: 1px solid black;
	text-transform: uppercase;
	border-radius: 0;
	float: right;
}

.footer {
	margin-top: auto;
  padding-right: 10px;
  width: 100%;
  text-align: right; /* Align text to the right within the footer */
}



/* SUCCESS */
.success-wrapper {
	background-color: var(--bg);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

